header {
  --tw-divide-opacity: 1;

  background-color: rgb(255 255 255 / 1);
  border-color: rgb(231 229 228 / 1);

  --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --tw-shadow-colored:
    0 1px 3px 0 var(--tw-shadow-color),
    0 1px 2px -1px var(--tw-shadow-color);

  box-shadow:
    var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000),
    var(--tw-shadow);
}

.header-container {
  padding-top: 0.5rem /* 8px */;
  padding-bottom: 0.5rem /* 8px */;
  padding-left: 2rem /* 32px */;
  padding-right: 2rem /* 32px */;
  max-width: 80rem /* 1280px */;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  justify-content: space-between;
}

.nav {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  font-weight: 700;
  width: auto;
  font-size: 0.875rem /* 14px */;
  line-height: 1.25rem /* 20px */;
}

.nav-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.divide-y > :not([hidden]) ~ :not([hidden]) {
  --tw-divide-y-reverse: 0;

  border-top-width: calc(1px * calc(1 - var(--tw-divide-y-reverse)));
  border-bottom-width: calc(1px * var(--tw-divide-y-reverse));
}

.divide-stone-200 > :not([hidden]) ~ :not([hidden]) {
  --tw-divide-opacity: 1;

  border-color: rgb(231 229 228 / var(--tw-divide-opacity));
}

.divide-x > :not([hidden]) ~ :not([hidden]) {
  --tw-divide-x-reverse: 0;

  border-right-width: calc(1px * var(--tw-divide-x-reverse));
  border-left-width: calc(1px * calc(1 - var(--tw-divide-x-reverse)));
}

@media (min-width: 768px) {
  .header-container {
    display: flex;
  }
}
